@import "./variables.css";

@font-face {
  font-family: "Inter UI";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Inter UI"),
    url("../assets/fonts/Inter-UI-Regular.woff2") format("woff2"),
    url("../assets/fonts/Inter-UI-Regular.woff") format("woff");
}

@font-face {
  font-family: "Inter UI";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Inter UI"),
    url("../assets/fonts/Inter-UI-Medium.woff2") format("woff2"),
    url("../assets/fonts/Inter-UI-Medium.woff") format("woff");
}

@font-face {
  font-family: "Inter UI";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Inter UI"),
    url("../assets/fonts/Inter-UI-Bold.woff2") format("woff2"),
    url("../assets/fonts/Inter-UI-Bold.woff") format("woff");
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-family: var(--bodyFont);
  box-sizing: border-box;
  color: var(--fontColor);
  font-size: var(--baseFontSizeSm);
  font-weight: 400;
  font-style: normal;
  line-height: var(--lineHeight);
  text-rendering: optimizeLegibility;
  -moz-font-feature-settings: "liga" on;

  @media (--break-md) {
    font-size: var(--baseFontSizeMd);
  }

  @media (--break-lg) {
    font-size: var(--baseFontSizeLg);
  }
}

body {
  overflow-x: hidden;
  background-color: #fff;
  margin: 0;
  height: 100%;
  min-height: 100%;
}

h1 {
  font-size: var(--stepUp4Sm);

  @media (--break-md) {
    font-size: var(--stepUp4Md);
  }

  @media (--break-lg) {
    font-size: var(--stepUp4Lg);
  }
}

h2 {
  font-size: var(--stepUp3Sm);

  @media (--break-md) {
    font-size: var(--stepUp3Md);
  }

  @media (--break-lg) {
    font-size: var(--stepUp3Lg);
  }
}

h3 {
  font-size: var(--stepUp2Sm);

  @media (--break-md) {
    font-size: var(--stepUp2Md);
  }

  @media (--break-lg) {
    font-size: var(--stepUp2Lg);
  }
}

h4 {
  font-size: var(--stepUp1Sm);

  @media (--break-md) {
    font-size: var(--stepUp1Md);
  }

  @media (--break-lg) {
    font-size: var(--stepUp1Lg);
  }
}

small {
  font-size: var(--stepDown1Sm);

  @media (--break-lg) {
    font-size: var(--stepDown1Lg);
  }
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: var(--headerFont);
  line-height: 1.15;
  color: var(--headerColor);
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.align-items-center {
  align-items: center;
}

.align-self-center {
  align-self: center;
}

.g-c6 {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  flex-basis: 100%;

  @media (--break-md) {
    width: 50%;
    min-width: 50%;
    max-width: 50%;
    flex-basis: 50%;
  }
}

.g-c6-md2 {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  flex-basis: 100%;

  @media (--break-md2) {
    width: 50%;
    min-width: 50%;
    max-width: 50%;
    flex-basis: 50%;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-left: var(--stepUp2Lg);
  padding-right: var(--stepUp2Lg);
  max-width: 1300px;
}

.g-margin-auto {
  margin: 0 auto;
}

.g-font-serif {
  font-family: "Times New Roman", Times, serif;
}

.g-mb-0 {
  margin-bottom: var(--stepDown1Lg);
}

.g-mb-1 {
  margin-bottom: var(--stepUp1Lg);
}

.g-mb-2 {
  margin-bottom: var(--stepUp2Lg);
}

.g-mb-3 {
  margin-bottom: var(--stepUp3Lg);
}

.g-mb-4 {
  margin-bottom: var(--stepUp4Lg);
}

.g-mb-5 {
  margin-bottom: var(--stepUp5Lg);
}

.p-2 {
  padding: 0;

  @media (--break-md) {
    padding: var(--stepUp2Lg);
  }
}

.f-w-600 {
  font-weight: 600;
}

.f-w-100 {
  font-weight: 100;
}

.m-none {
  margin: 0;
}

.g-text-center {
  text-align: center;
}
