:root {
  /* Font faces */
  --headerFont: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --bodyFont: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --headerColor: rgba(0, 0, 0, 0.84);
  --fontColor: #5b5e6d;
  --lineHeight: 1.5;

  /* Base sizes */
  --baseFontSizeSm: 100%; /* 16px */
  --baseFontSizeMd: 112%; /* 18px */
  --baseFontSizeLg: 115%; /* 18px */

  /* Type scale on smaller screens */
  --ratioSm: 1.2; /* Minor third */
  --stepUp1Sm: calc(1em * var(--ratioSm));
  --stepUp2Sm: calc(var(--stepUp1Sm) * var(--ratioSm));
  --stepUp3Sm: calc(var(--stepUp2Sm) * var(--ratioSm));
  --stepUp4Sm: calc(var(--stepUp3Sm) * var(--ratioSm));
  --stepUp5Sm: calc(var(--stepUp4Sm) * var(--ratioSm));
  --stepDown1Sm: calc(1em / var(--ratioSm));

  /* Type scale on medium screens */
  --ratioMd: 1.33; /* Minor third */
  --stepUp1Md: calc(1em * var(--ratioMd));
  --stepUp2Md: calc(var(--stepUp1Md) * var(--ratioMd));
  --stepUp3Md: calc(var(--stepUp2Md) * var(--ratioMd));
  --stepUp4Md: calc(var(--stepUp3Md) * var(--ratioMd));
  --stepUp5Md: calc(var(--stepUp4Md) * var(--ratioMd));
  --stepDown1Md: calc(1em / var(--ratioMd));

  /* Type scale on larger screens */
  --ratioLg: 1.414; /* Augmented fourth */
  --stepUp1Lg: calc(1em * var(--ratioLg));
  --stepUp2Lg: calc(var(--stepUp1Lg) * var(--ratioLg));
  --stepUp3Lg: calc(var(--stepUp2Lg) * var(--ratioLg));
  --stepUp4Lg: calc(var(--stepUp3Lg) * var(--ratioLg));
  --stepUp5Lg: calc(var(--stepUp4Lg) * var(--ratioLg));
  --stepDown1Lg: calc(1em / var(--ratioLg));

  /* Make sure the breakpoint values here are the same 
  in 'breakpoint.js' too */
  @custom-media --break-md (width >= 36em); /* 576px */
  @custom-media --break-md2 (width >= 49em); /* 790px */
  @custom-media --break-lg (width >= 65em); /* 1048px */
}
