@import './css/variables.css';

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-family: var(--bodyFont);
  box-sizing: border-box;
  color: var(--fontColor);
  font-size: var(--baseFontSizeSm);
  font-weight: 400;
  font-style: normal;
  line-height: var(--lineHeight);
  text-rendering: optimizeLegibility;
  -moz-font-feature-settings: 'liga' on;

  @media (--break-md) {
    font-size: var(--baseFontSizeMd);
  }

  @media (--break-lg) {
    font-size: var(--baseFontSizeLg);
  }
}

body {
  overflow-x: hidden;
  background-color: #fff;
  margin: 0;
  height: 100%;
  min-height: 100%;
}

h1 {
  font-size: var(--stepUp4Sm);

  @media (--break-md) {
    font-size: var(--stepUp4Md);
  }

  @media (--break-lg) {
    font-size: var(--stepUp4Lg);
  }
}

h2 {
  font-size: var(--stepUp3Sm);

  @media (--break-md) {
    font-size: var(--stepUp3Md);
  }

  @media (--break-lg) {
    font-size: var(--stepUp3Lg);
  }
}

h3 {
  font-size: var(--stepUp2Sm);

  @media (--break-md) {
    font-size: var(--stepUp2Md);
  }

  @media (--break-lg) {
    font-size: var(--stepUp2Lg);
  }
}

h4 {
  font-size: var(--stepUp1Sm);

  @media (--break-md) {
    font-size: var(--stepUp1Md);
  }

  @media (--break-lg) {
    font-size: var(--stepUp1Lg);
  }
}

small {
  font-size: var(--stepDown1Sm);

  @media (--break-lg) {
    font-size: var(--stepDown1Lg);
  }
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: var(--headerFont);
  line-height: 1.26;
  color: var(--headerColor);
}

.hero-section {
  padding-top: var(--stepUp2Lg);
  padding-bottom: var(--stepUp3Lg);

  @media (--break-lg) {
    padding-bottom: 0;
  }
}

.hero-headline {
  font-weight: 700;
  font-style: bold;
  margin-bottom: var(--stepDown1Sm);
  font-size: var(--stepUp5Sm);

  @media (--break-lg) {
    font-size: var(--stepUp4Lg);
  }
}

.hero-subheadline {
  font-size: var(--stepUp1Sm);
}

.container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-left: var(--stepUp2Lg);
  padding-right: var(--stepUp2Lg);
  max-width: 1300px;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.align-items-center {
  align-items: center;
}

.align-self-center {
  align-self: center;
}

.g-c6 {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  flex-basis: 100%;

  @media (--break-md) {
    width: 50%;
    min-width: 50%;
    max-width: 50%;
    flex-basis: 50%;
  }
}

.hero-pitch {
  align-self: flex-start;
  text-align: center;
  padding: 0;
  padding-bottom: var(--stepUp2Lg);

  @media (--break-md) {
    padding: var(--stepUp2Lg);
    padding-top: var(--stepUp5Lg);
  }

  @media (--break-md2) {
    text-align: left;
  }
}

.g-c6-md2 {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  flex-basis: 100%;

  @media (--break-md2) {
    width: 50%;
    min-width: 50%;
    max-width: 50%;
    flex-basis: 50%;
  }
}

.not-miss-out-fact {
  max-width: 950px;
}

.one-of-us-container {
  background-color: #e0f7fa;
  padding: var(--stepUp3Lg) var(--stepUp2Lg);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  box-shadow: 20px 20px 0 #b2ebf2;

  @media (--break-md2) {
    padding: var(--stepUp5Lg);
  }

  @media (--break-lg) {
    top: -60px;
  }
}

.citation {
  font-size: 17px;
  padding-left: 6px;
}

.cost-matters-section {
  position: relative;
  padding: var(--stepUp1Lg) 0 var(--stepUp3Lg);
}

.cost-matters-materials {
  justify-content: space-around;
  padding: var(--stepUp3Lg) 0;
}

.cost-matters-title {
  position: relative;
  display: inline-block;
  top: var(--stepUp2Lg);

  @media (--break-lg) {
    top: auto;
  }
}

.cost-matters-title::after {
  content: '';
  position: absolute;
  top: -10px;
  left: -5%;
  height: 5px;
  width: 55%;
  background-color: #323648;
}

.features-section {
  position: relative;
  z-index: 1;
  padding: var(--stepUp5Lg) 0 var(--stepUp5Lg);
  background: linear-gradient(to top, #286efa, #304ffe);
}

.features-section::after {
  background: linear-gradient(to top, #286efa, #304ffe);
  top: 0;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(-2deg);
  transform-origin: 0%;
  z-index: -1;
}

.features-section::before {
  background: linear-gradient(175deg, #304ffe 40%, #286efa 70%);
  bottom: 0;
  content: '';
  display: block;
  height: 70%;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(2deg);
  transform-origin: 0%;
  z-index: -2;
}

.feature-title {
  text-align: center;
  margin: var(--stepDown1Lg) 0;
}

.mission-statement {
  color: #fafafa;
  padding-bottom: var(--stepUp3Lg);
  max-width: 500px;
  margin: 0 auto;

  @media (--break-lg) {
    max-width: 700px;
  }
}

.features {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.feature {
  flex: 1 1 100%;
  padding: var(--stepUp2Lg);
  border-radius: 7px;
  background-color: #fafafa;
  margin-bottom: var(--stepUp3Lg);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.15);

  @media (--break-md) {
    flex-basis: 40%;
    margin-right: var(--stepUp3Lg);
  }

  @media (--break-lg) {
    flex: 1;
    margin-right: var(--stepUp3Lg);
  }
}

.feature-icon {
  display: block;
  width: 80px;
  margin: 0 auto;
}

.feature:last-child {
  align-self: center;
  margin-right: 0;
  flex: 1 1 100%;

  @media (--break-md) {
    flex: 0 1 60%;
  }

  @media (--break-lg) {
    flex: 1;
    margin-top: 0;
  }
}

.feature:nth-child(2) {
  margin-right: 0;

  @media (--break-lg) {
    margin-right: var(--stepUp3Lg);
  }
}

.call-to-action {
  padding-top: var(--stepUp4Lg);
  padding-bottom: var(--stepUp4Lg);
}

.call-to-action-statement {
  max-width: 650px;
}

.p-quote {
  font-size: var(--stepUp1Lg);
  font-weight: 100;

  @media (--break-md2) {
    font-size: var(--stepUp2Lg);
  }
}

/* prettier-ignore */
.recharts-yAxis .recharts-cartesian-axis-tick {
  display: none;
}

/* prettier-ignore */
.recharts-xAxis .recharts-cartesian-axis-tick:not(:first-child):not(:last-child) {
  display: none;
}

.low-cost-label {
  font-weight: 600;
  font-size: 22px;
  fill: #666 !important;
}

.high-cost-label {
  font-size: 22px;
  font-weight: 600;
  fill: #666 !important;
}

.low-cost-label:first-child {
  transform: translate(-71px, -10px);
}

.high-cost-label:first-child {
  transform: translate(-57px, 15px);
}

.recharts-label {
  fill: #757575;
}

.mb-0 {
  margin-bottom: var(--stepDown1Lg);
}

.mb-1 {
  margin-bottom: var(--stepUp1Lg);
}

.mb-2 {
  margin-bottom: var(--stepUp2Lg);
}

.mb-3 {
  margin-bottom: var(--stepUp3Lg);
}

.mb-4 {
  margin-bottom: var(--stepUp4Lg);
}

.mb-5 {
  margin-bottom: var(--stepUp5Lg);
}

.p-2 {
  padding: 0;

  @media (--break-md) {
    padding: var(--stepUp2Lg);
  }
}

.f-w-600 {
  font-weight: 600;
}

.f-w-100 {
  font-weight: 100;
}

.m-none {
  margin: 0;
}

.text-center {
  text-align: center;
}
