*,
*:before,
*:after {
  box-sizing: inherit;
}

p {
  font-size: 1rem;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 1rem;
}

html {
  font-family: 'Muli', Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  font-size: 1.1em;
  color: #323648;
}
body {
  max-width: 100%;
  overflow-x: hidden;
  line-height: 1.5;
  background-color: #fff;
  margin: 0;
  height: 100%;
  min-height: 100%;
}
.right {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.hero-img-1 {
  position: absolute !important;
  top: 0;
  right: -20px;
  width: 365px;
  z-index: 2;
}
.hero-img-2 {
  position: absolute !important;
  top: 100px;
  left: 47px;
  width: 400px;
  z-index: 1;
}
.hero-img-3 {
  position: absolute !important;
  top: 400px;
  left: 130px;
  width: 500px;
  z-index: 1;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Muli', Helvetica, Arial, sans-serif;
  line-height: 1.2;
  margin: 0;
}

.hero-headline {
  font-size: 3.5rem;
  line-height: 1.2;
  font-weight: 700;
  font-style: bold;
  margin-bottom: 2rem;
}
.hero-section {
  height: calc(100vh - 100px);
  background-color: #e0f2f1;
  padding-top: 72px;
}
.hero-subheadline {
  font-size: 1.25rem;
}
.container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1300px;
}

.container-narrower {
  max-width: 800px;
}
.flex-row {
  display: flex;
  /* flex: 0 1 auto; */
  flex-wrap: wrap;
  /* margin: -20px; */
}
.align-items-center {
  align-items: center;
}
.g-c6 {
  width: 50%;
  min-width: 50%;
  max-width: 50%;
  flex: 0 0 50%;
}
[class^='g-'],
[class*=' g-'] {
  padding: 20px;
}
@media (max-width: 767px) {
  .g-c6--md {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    flex: 0 0 100%;
  }
}

.prelaunch-form {
  border: 1px solid #212121;
  align-items: center;
  justify-content: space-between;
  max-width: 420px;
}
.prelaunch-form__email-input {
  background-color: #f9f9fa;
  border: 0;
  flex: 1 1 auto;
  color: #212121;
}
.prelaunch-form__submit-btn {
  color: #fff;
  flex: 1 1 auto;
  border-radius: 0 !important;
}

.one-of-us-section {
  background-color: #f1ece4;
}
.one-of-us-container {
  padding: 7.6rem 0 7.6rem;
}
.cost-matters-section {
  position: relative;
  background-color: #fafafa;
  min-height: 780px;
}
/* .cost-matters-ornament-bg {
  position: absolute;
  top: -80px;
  background: #b3e5fc;
  height: 100%;
  max-height: 636px;
  width: 60%;
  max-width: 816px;
  z-index: 1;
} */
.cost-matters-container {
  position: relative;
  max-width: 1000px;
  z-index: 2;
}
.cost-matters-title {
  position: relative;
  top: -30px;
  display: inline-block;
}
.cost-matters-title:after {
  content: '';
  position: absolute;
  top: -25px;
  left: -20px;
  height: 7px;
  width: 70%;
  background-color: #323648;
}
.p-quote {
  font-size: 1.78rem;
  font-weight: 100;
}
.recharts-xAxis .recharts-cartesian-axis-tick:first-child {
  display: none;
}
.recharts-legend-item:not(:last-child) {
  margin-right: 30px !important;
}
.mini-box {
  max-width: 550px;
}
.mb-0 {
  margin-bottom: 1rem;
}
.mb-1 {
  margin-bottom: 1.5rem;
}
.mb-2 {
  margin-bottom: 2.25rem;
}
.mb-3 {
  margin-bottom: 3.37rem;
}

.pt-4 {
  padding-top: 5.1rem;
}
.pt-5 {
  padding-top: 7.6rem;
}
.f-w-600 {
  font-weight: 600;
}

.f-size-1 {
  font-size: 1.33rem;
}
.f-size-2 {
  font-size: 1.78rem;
}
.f-size-3 {
  font-size: 2.33rem;
}
.f-size-4 {
  font-size: 3.1rem;
}
